ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 15rem;
}

ul li {
    position: relative;
}

li ul {
    position: absolute;
    left: 14rem;
    top: 0;
    display: none;
}
/*Posicionamento dos itens do sub menu*/
ul li a {
    display: block;
    text-decoration: none;
    color: #E2144A;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
}
li:hover ul {
    display: block;
}


/*Corrigindo o bug do internet explorer*/
/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
/* End */